@import './base.css';

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  width: 2.8rem;
  height: 2.8rem;
  background: none;
  cursor: pointer;
}

@media (max-width: 424px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  html {
    font-size: 11px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 14px;
  }

  body {
    display: flex;
    place-items: center;
  }
}
